<!DOCTYPE html>
<html>
    <!--head: This is where metainfo about your site goes, and links to stylesheets-->
    <head>
        <title>AJ Stensland</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
        <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
    </head>

    <!--body: This is where the actual contents of your website go-->
    <body>
        <div class="navbar">
            <div class="nav_item">
                <a href="{{ url_for('index') }}">
                    <img class="logo" src="{{ url_for('static', filename='logo.png') }}"/>
                </a>
            </div>
            <div class="nav_item">
                <a href="{{ url_for('programming') }}">Programming</a>
            </div>
            <div class="nav_item">
                <a href="{{ url_for('music') }}">Music</a>
            </div>
        </div>
        <div class="main">
            <div class="content">
                <img class="photo" src="{{ url_for('static', filename='programming.jpg') }}"/>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</div>
        </div>
    </body>
</html>
