@media all and (min-width: 480px) {
.SignUp {

}

.SignUp form {
  margin: 0 auto;
  max-width: 320px;
  }
}

.SignUp h1 {
  color: white;
  margin: 20px 20px 20px 20px;
  font-family: "Paytone One";
  margin-left: 100px;
}

.content {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.bubble {
  border-radius: 16px;
  text-align: center;
  justify-content: center;
  border: none;
  margin-top: 20px;
  padding: 10px 10px 10px 10px;
  width: 250px;
}

.submit {
  border-radius: 32px;
  background-color: #D9646A;
  color: white;
  border: none;
  font-size: 24px;
  padding: 10px 10px 10px 10px;
  margin-top: 40px;
  font-family: "Paytone One";
  text-decoration: none;
  border: none;
}

.submit:hover,
.submit:focus,
.submit:active {
    transform: scale(1.05);
}

.SignUp form span.help-block {
  font-size: 14px;
  padding-bottom: 10px;
  color: #999;
}

.signOutBtn {
  font-family: "Paytone One";
  border: 1px solid white;
  font-size: 24px;
  color: white;
  background-color: #1A323F;
  border-radius: 12px;
  padding: 8px 8px 8px 8px;
  margin-left: 12px;
  margin-right: 12px;
  text-decoration: none;
}

.contentSignOut {
  display: block;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}

.contentSignOut h1 {
  text-align: center;
  margin: 3%;
}

.signOutBtn:hover {
  color: #1A323F;
  background-color: white;
}
