body {
    margin: 0px;
}

.navbar {
    background-color: #151515;
    height: 14vh;
    display: table;
}

.logo {
    display: block;
    max-height: 7vh;
    height: auto;
    width: auto;
    margin: auto;
}

.nav_item {
    font-family: 'Press Start 2P', cursive;
    color: #FFFFFF;
    vertical-align: middle;
    text-align: center;
    background-color: #2a2a2a;
    display: table-cell;
    height: 100%;
    width: 33vw;
}

a {
    text-decoration: none;
    color: inherit;
}

.nav_item:hover {
    color: #990000;
    background-color: #222222;

}

.main {
    background-color: #111111;
    height: 90vh;
    padding: 20px;
}

.content {
    color: #FFFFFF;
    font-family: 'Work Sans', sans-serif;
    background-color: #151515;
    margin: 0 auto;
    width: 50vw;
    padding: 20px;
}

.photo {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 500px;
    height: auto;
    display: block;
}
