.item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0 15px 0;
  padding: 0 8px 0 8px;
  color: white;
  background-color: #0357a6;
  height: 45px;
}

.delete-button {
  height: 25px;
  width: 25px;
  padding: 3px;
  font-size: 22px;
  cursor: pointer;
}

.delete-button:hover {
  border-radius: 100%;
  background-color: #ababab;
}
