<!DOCTYPE html>
<html>
    <!--head: This is where metainfo about your site goes, and links to stylesheets-->
    <head>
        <title>AJ Stensland</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
        <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
    </head>

    <!--body: This is where the actual contents of your website go-->
    <body>
        <div class="navbar">
            <div class="nav_item">
                <a href="{{ url_for('index') }}">
                    <img class="logo" src="{{ url_for('static', filename='logo.png') }}"/>
                </a>
            </div>
            <div class="nav_item">
                <a href="{{ url_for('programming') }}">Programming</a>
            </div>
            <div class="nav_item">
                <a href="{{ url_for('music') }}">Music</a>
            </div>
        </div>
        <div class="main">
            <div class="content">
                <img class="photo" src="{{ url_for('static', filename='photo.png') }}"/>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus hendrerit magna dolor, eget sodales purus iaculis nec. Cras imperdiet orci nec dolor iaculis condimentum. Aenean ut posuere arcu. Cras ut nulla massa. Curabitur ac dignissim diam. Duis scelerisque, justo vulputate commodo ultrices, orci metus porta diam, eu eleifend eros libero et augue. Vestibulum ac mattis leo, quis ullamcorper nisl.
            </div>
        </div>
    </body>
</html>
